<footer th:fragment="footer" class="footer" xmlns:th="">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="dashboard">
                        Home
                    </a>
                </li>
                <li>
                    <a href="https://vole.wtf/coder-serial-killer-quiz/">
                        Company
                    </a>
                </li>
                <li>
                    <a href="https://geekprank.com/hacker/">
                        Portfolio
                    </a>
                </li>
                <li>
                    <a href="https://hackertyper.net/">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://en.wikipedia.org/wiki/Franz_Kafka">Franz Kafka</a>, made with love for a better web
        </p>
    </div>
</footer>