<div th:fragment="sidebar" class="sidebar" th:data-color="${sidebarColor.color}" data-image="../assets/img/background.jpeg"
     xmlns:th="http://www.w3.org/1999/xhtml">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="https://kafka.apache.org/" class="simple-text">
                Apache Kafka consumer
            </a>
        </div>
        <ul class="nav">
<!--            public static final String DASHBOARD = "dashboard";-->
<!--            public static final String USER_PROFILE = "user";-->
<!--            public static final String TABLE_LIST = "table";-->
<!--            public static final String TYPOGRAPHY = "typo";-->
<!--            public static final String ICONS = "icons";-->
<!--            public static final String MAPS = "maps";-->
<!--            public static final String NOTIFICATIONS = "notifications";-->
            <li th:if="${active.activeLink eq 'dashboard'}" class="active">
                <a href="dashboard">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li th:unless="${active.activeLink eq 'dashboard'}">
                <a href="dashboard">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li th:if="${active.activeLink eq 'messagestable'}" class="active">
                <a href="messagestable">
                    <i class="pe-7s-note2"></i>
                    <p>Messages</p>
                </a>
            </li>
            <li th:unless="${active.activeLink eq 'messagestable'}">
                <a href="messagestable">
                    <i class="pe-7s-note2"></i>
                    <p>Messages</p>
                </a>
            </li>

            <li th:if="${active.activeLink eq 'table'}" class="active">
                <a href="table">
                    <i class="pe-7s-note2"></i>
                    <p>Config table</p>
                </a>
            </li>
            <li th:unless="${active.activeLink eq 'table'}">
                <a href="table">
                    <i class="pe-7s-note2"></i>
                    <p>Config table</p>
                </a>
            </li>
            <li th:if="${active.activeLink eq 'user'}" class="active">
                <a href="userGetInfo">
                    <i class="pe-7s-user"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li th:unless="${active.activeLink eq 'user'}">
                <a href="user">
                    <i class="pe-7s-user"></i>
                    <p>User Profile</p>
                </a>
            </li>
<!--            <li>-->
<!--                <a href="typography.html">-->
<!--                    <i class="pe-7s-news-paper"></i>-->
<!--                    <p>Typography</p>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="icons.html">-->
<!--                    <i class="pe-7s-science"></i>-->
<!--                    <p>Icons</p>-->
<!--                </a>-->
<!--            </li>-->
            <li>
                <a href="maps" th:if="${active.activeLink eq 'maps'}" class="active">
                    <i class="pe-7s-map-marker"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a href="maps" th:unless="${active.activeLink eq 'maps'}">
                    <i class="pe-7s-map-marker"></i>
                    <p>Maps</p>
                </a>
            </li>
<!--            <li>-->
<!--                <a href="notifications.html">-->
<!--                    <i class="pe-7s-bell"></i>-->
<!--                    <p>Notifications</p>-->
<!--                </a>-->
<!--            </li>-->
        </ul>
    </div>
</div>